* {
  margin: 0;
  padding: 0%;
  background-color: #282c34;
  color: white;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;

}

button {
  background-color: #316ce2;
  display: inline;
  color: white;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
  cursor: pointer;
  transition: all;
}

button:hover {
  background-color: #3c7df0;
}

.btn {
  display: inline-flex;
  width: 100%;
  justify-content: center;

}